@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Playwrite+AU+VIC:wght@100..400&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Lobster&family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&family=Permanent+Marker&family=Playwrite+AU+VIC:wght@100..400&family=Secular+One&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

body {
    background-color: #232325;
    color: white;
    overflow-x: hidden;
    animation-fill-mode: forwards;
    animation-name: scroll;
    animation-duration: 8s;
}

a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.456);
}

a:hover{
    color: white;
}

.active{
    color: rgba(128, 128, 128, 0.456);
    transition: .5s;
}

@keyframes scroll {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: visible;
    }
}
